<div class='userDisplay' id='userInfo'></div>
<div class='userDisplay' id='stats'></div>
<div id='mouse'>Use Mouse to interact</div>
{{!-- <button class='userDisplay' id='button'>play Sound</button> --}}