{{!-- <div class='userDisplay' id='userInfo'></div>
<div class='userDisplay' id='stats'></div>
<div id='mouse'>Use Mouse to interact</div>

<label class='userDisplay' for='rotSpeed'>Rotation Speed</label>
<input name='rotSpeed' type='range' min='1' max='1000' value='800' class='userDisplay' id='userSpeed'/> --}}

<div class='userDisplay'>
	<div id='stats'></div>
	<div id='userInfo'></div>
	<div id='mouse'>Use Mouse to interact</div>

	<label  for='rotSpeed'>Rotation Speed:</label>
	<input name='rotSpeed' type='range' min='1' max='1000' value='800'id='userSpeed'/>

	<label  for='lightSpeed'>Light Speed:</label>
	<input name='lSpeed' type='range' min='0' max='100' value='15'id='userLightSpeed'/>

	<div>Press Space Bar to Hide Display</div>

</div>