<div id='stats'></div>
<div id='fft'></div>
<div class='userDisplay'>
    {{!-- <button onclick='startAudio()'>start mic</button> --}}
    <button onclick='wireFrame()'>wireframe</button>

    <label  for='m1'>Rotation Speed:</label>
	<input name='m1' type='range' min='0' max='100' value='20' id='jSlider1'/> 

    {{!-- <label  for='m3'>Position Speed:</label>
	<input name='m3' type='range' min='0' max='100' value='20' id='jSlider3'/>  --}}

     <label  for='m2'>Morph Sphere:</label>
	<input name='m2' type='range' min='0' max='100' value='20' id='jSlider2'/> 
     
  

</div>


