<div id='stats'></div>
<div id='fft'></div>
<div class='userDisplay'>
    <button onclick='startAudio()'>start audio</button>

    <label  for='m1'>dist1:</label>
	<input name='m1' type='range' min='0' max='100' value='20' id='jSlider1'/>

     <label  for='m2'>dist2:</label>
	<input name='m2' type='range' min='0' max='100' value='20' id='jSlider2'/>
     
     <label  for='m3'>dist3:</label>
	<input name='m3' type='range' min='0' max='100' value='20' id='jSlider3'/>

</div>


