body {
    margin: 0;
    background-color: pink;
}
canvas {
    width: 100%;
    height: 100%;
}

.userDisplay {
    margin-left: 30px;
    margin-top: 50px;
    position: absolute;
    color: rgba(255,255,255,0.5);
    z-index: 10;
    text-align: center;
}
#stats {

}
#mouse{
    position: absolute;
    margin-top: 65px;
    margin-left: 30px;
    color: rgba(255,255,255,0.5);
}